.header--main {
font-weight: normal;
font-size: 50px;
color: white;
}

.header--sub1 {
    color: white;
    font-weight: 300;
    font-size: 42px;
}

.header--sub2 {
    color: white;
    font-weight: 300;
    font-size: 42px;
}

body {
    background-color: black;
    font-family: verdana, arial, helvetica, sans-serif;
    text-align: center;
}

.para--1 {
    color:gray;
    font-size: 21px;
}

/* download link #1 */
.link {
color: aquamarine;
font-size: 16px;
}

footer {
    color: gray;
    text-align: right;
}