h2 {
font-family: verdana;
font-weight: normal;
font-size: 50px;
color: white;
text-align: centered;
}

body {
    background-color: black;
}

/* download link #1 */
{
text-align: centered;
color: aquamarine;
font-size: 16px;
}